<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DataComparator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<connectionStrings>
  <add name="sqlConnectionString"  connectionString="Data Source=.\SQLEXPRESS;&#xD;&#xA;                                                     Initial Catalog=DataComparatorDB;&#xD;&#xA;                                                     Integrated Security=SSPI"

                                                                              />
</connectionStrings>
    <userSettings>
        <DataComparator.Properties.Settings>
            <setting name="excel97ConnectionString" serializeAs="String">
                <value>"Provider=Microsoft.Jet.OLEDB.4.0;Data Source="{0}";Extended Properties='Excel 8.0;HDR=YES;IMEX=1'"</value>
            </setting>
            <setting name="excel2007ConnectionString" serializeAs="String">
                <value>"Provider=Microsoft.ACE.OLEDB.12.0;Data Source="{0}";Extended Properties='Excel 12.0 Xml;HDR=YES;IMEX=1'"</value>
            </setting>
        </DataComparator.Properties.Settings>
    </userSettings>
</configuration>